<h2>Editing Note<br> Created at <%= @note.created_at.strftime("%m-%e-%y at %l:%M %P") %> | Edited at <%= @note.updated_at.strftime("%m-%e-%y at %l:%M %P") %>.</h2>

<%= render 'form' %>

<%= link_to 'Cancel', notes_path %>
