@import "bootstrap";
@import "bootstrap-responsive";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  overflow: auto;
  background-image: image-url("bg_tan.png");
}

intro {
  overflow: auto;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px solid #e9ebed;
  overflow: auto;
}

.pagination {
  margin: 0px 0; 
}

.bounce, .pulse, .floating, .tossing, .pullUp, .pullDown, .stretchLeft, .stretchRight{
  visibility: visible !important; 
}

#oldyou #busted{
  visibility: hidden;
}

#pro #busted2{
  visibility: hidden;
}

#insight #hatch1{
  visibility: hidden;
}

#insight #hatch2{
  visibility: hidden;
}

#insight #hatch3{
  visibility: hidden;
}

#new-you #newyou {
    height: 85%;
    width: 85%;
}

#new-you img{ float: right;}

textarea {
  resize: vertical;
}

#profile_gender{
  width: 80px;
}

#profile_birth_date_2i{
  width: 102px;
}

#profile_birth_date_3i{
  width: 52px;
}

#profile_birth_date_1i{
  width: 75px;
}

#profile_height_feet{
  width: 32px;
}

#profile_height_inches{
  width: 32px;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

/* universal navigation */

.navbar-background {
  opacity: 0.95;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  .cya {
    float: left;
    font-size: x-small;
  }

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
