<h2>Editing Measurement<br> Created at <%= @measure.created_at.strftime("%m-%e-%y at %l:%M %P") %> | Edited at <%= @measure.updated_at.strftime("%m-%e-%y at %l:%M %P") %>.</h2>

<%= render 'form' %>

<%= link_to 'Cancel', measures_path %>
