<footer class="footer">
  <small>
    <a href="#">Bio App - Health Tracker</a>
    by Mason Packard, &copy; 2013 - <%= Time.now.strftime("%Y") %> &nbsp;
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '/' %></li>
      <li><%= link_to "Contact", '/' %></li>
      
    </ul>
  </nav>

  <ul>
    <li><a class="twitter" href="http://twitter.com/masonpackard" target="_blank">Twitter</a> <i class="icon-twitter-sign"></i></li>
    <li><a class="linkedin" href="http://www.linkedin.com/in/masonpackard" target="_blank">LinkedIn</a> <i class="icon-linkedin-sign"></i></li>
    <li><a class="about-me" href="http://www.about.me/masonpackard" target="_blank">About.me</a> <i class="icon-user"></i></li>
  </ul>

  <div class="pull-left cya">
    <a href="/">privacy policy</a> | <a href="/">terms - conditions</a> | <a href="/">user agreement</a> | <a href="/">health provider agreement</a>
  </div>
</footer>